body {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------------------------------------------ Theme colors DARK */

body.bright {
    background: rgb(255, 255, 255);
}

body.bright .application {
    border-color: rgb(32, 32, 32);
}

/* ---------------------------------------------------------------------------------------------- Theme colors BRIGHT */

body.dark {
    background: rgb(32, 32, 32);
}

body.dark .application {
    border-color: rgb(223, 223, 223);
}

/* ------------------------------------------------------------------------------------------------------ Theme style */

.wrapper {
    width: 100%;
    height: 100%;
    padding-top: 15px;
}

.application {
    position: relative;
    width:  1000px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid;
    box-sizing: content-box;
}

.application canvas[data-scene="application"] {
    width: 100%;
    height: 100%;
}
